.infinite-carousel-container {
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;
}

.infinite-carousel-container .infinite-carousel {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.infinite-carousel.ttb,
.infinite-carousel.btt {
    flex-direction: column;
}

.infinite-carousel.rtl {
    left: unset;
    right: 0;
}

.infinite-carousel.ttb {
    top: unset;
    bottom: 0;
}
