.super-animation-appear,
.super-animation-enter {
    transform: scale(0) rotate(0) translateX(30vw) translateY(40vh);
}

.super-animation-appear-active,
.super-animation-enter-active {
    transform: scale(1) rotate(-360deg) translateX(0) translateY(0);
    transition: transform 1s ease-in;
}

.super-animation-exit {
    transform: scale(1) rotate(360deg) translateX(0) translateY(0);
}

.super-animation-exit-active {
    transform: scale(0) rotate(0) translateX(30vw) translateY(40vh);
    transition: transform 1s ease-out;
}

.super-animation1-appear {
    transform: translateX(-10vw) translateY(10vw);
}
.super-animation1-appear-active {
    transform: translateX(0) translateY(0);
    transition: transform 1s ease-in;
}

.super-animation2-enter {
    transform: scale(0) rotate(0);
}
.super-animation2-enter-active {
    transform: scale(1) rotate(-360deg) translateX(0) translateY(0);
    transition: transform 1s ease-in;
}

.super-animation3-exit {
    transform: translateX(0) translateY(0);
}
.super-animation3-exit-active {
    transform: translateX(10vw) translateY(-10vw);
    transition: transform 1s ease-out;
}

